{% load users_list %}
{% users_list as kullanicilar %}
<div class="col-3">
    <div class="list-group m-3" id="list-tab" role="tablist">
        {% if user.is_authenticated %}
        <a class="list-group-item list-group-item-action" id="list-profil-list"  href="{% url 'account:mesajlar' %}" role="tab" >Mesajlar</a>
        <a class="list-group-item list-group-item-action" id="list-profil-list"  href="{% url 'sendmail' %}" role="tab" >Email gonder</a>
        <a class="list-group-item list-group-item-action" id="list-profil-list"  href="{% url 'account:userslist' %}" role="tab" >Kullanicilar</a>
        {% for kullanici in kullanicilar %}
        <a class="list-group-item list-group-item-action" id="list-profil-list"  href="{% url 'account:hesabziyaretet' kullanici.username %}" role="tab" >{{ kullanici.first_name }} {{ kullanici.last_name }}</a>
        {% endfor %}
        {% else %}
        <a class="list-group-item list-group-item-action" id="list-profil-list" href="{% url 'account:kayit' %}" role="tab">Kayit ol</a>
        <a class="list-group-item list-group-item-action" id="list-sifre-list"  href="{% url 'account:giris' %}" role="tab">Uye Girisi</a>
        {% endif %}
    </div>
</div>